In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import ile.io

In [3]:
dataset = ile.io.NHAMCS(2020)

In [4]:
columns = []

# RFV
columns += [f'RFV{i}' for i in range(1, 6)]

# RFV3D
columns += [f'RFV{i}3D' for i in range(1, 6)]

# CAUSE
columns += [f'CAUSE{i}' for i in range(1, 4)]

In [5]:
dataset.data[columns]

,RFV1,RFV2,RFV3,RFV4,RFV5,RFV13D,RFV23D,RFV33D,RFV43D,RFV53D,CAUSE1,CAUSE2,CAUSE3
0,28000,10100,-9,-9,-9,2800,1010,0,0,0,-9,-9,-9
1,16500,16601,15450,-9,-9,1650,1660,1545,0,0,-9,-9,-9
2,14850,14501,10100,14400,10601,1485,1450,1010,1440,1060,-9,-9,-9
3,19101,10601,10100,61000,-9,1910,1060,1010,6100,0,X58X,-9,-9
4,14850,14501,10100,15702,-9,1485,1450,1010,1570,0,-9,-9,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14855,10501,-9,-9,-9,-9,1050,0,0,0,0,-9,-9,-9
14856,58154,-9,-9,-9,-9,5815,0,0,0,0,Y249,-9,-9
14857,15451,-9,-9,-9,-9,1545,0,0,0,0,-9,-9,-9
14858,15451,-9,-9,-9,-9,1545,0,0,0,0,-9,-9,-9
14859,59150,-9,-9,-9,-9,5915,0,0,0,0,-9,-9,-9

In [6]:
dataset.value_labels['SEXF']

{1: 'Female', 2: 'Male'}

In [9]:
from ile.dataset import NHAMCSDataset
tds = NHAMCSDataset(2020)

In [10]:
tds._x.shape

(14860, 3829)